body { background-color: #f0f2f5; font-family: 'Roboto', sans-serif; }

.mdl-layout__header { background: #00695c; box-shadow: none; }
.mdl-layout-title { font-family: 'Poppins', sans-serif; }

/* Override des items de liste pour en faire des cartes */
#liste-heures { width: 100%; padding: 0; margin: 0; background: transparent !important; box-shadow: none !important;}

.mdl-list__item {
    background: white;
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 15px 20px;
    font-size: 16px;
}

/* Le titre de la date qui colle en haut */
.sticky-date {
    position: sticky; top: 10px; z-index: 999;
    background-color: #00897b; color: white;
    padding: 8px 20px; border-radius: 30px;
    text-align: center; margin: 10px auto; width: fit-content;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); font-family: 'Poppins', sans-serif;
}

.grosse-icone {
    font-size: 36px !important; width: 50px !important;
    display: flex; justify-content: center; color: #ffb74d;
}
